#myRoundabout{
    left: 198px;
    top: 130px;
    width: 200px;
}
   .roundabout-holder { padding: 0; height: 0em; width: 624px;list-style: none }
   .roundabout-moveable-item {
      height: 240px;
	  width: 398px;
      cursor: pointer;
      background-color: #ffc;
   
   }

   .roundabout-moveable-item img{
   		width: 100%
   }
   .roundabout-in-focus { 
  	 	cursor: auto; 
   }
#featured-film #next{
	background: url('../images/left-slide-but.png') no-repeat scroll 0 0 transparent;
	position: absolute;
	width: 33px;
	height: 40px;	
    left: -15px;
    top: 120px;
}
#featured-film #prev{
	background: url('../images/right-slide-but.png') no-repeat scroll 0 0 transparent;
	position: absolute;
	width: 33px;
	height: 40px;	
    right: 15px;
    top: 120px;
}

#featured-film ul li{
}
.rate-widget .item-list ul {
    float: right;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: -5px;
    padding: 0;
    width: 80px;
}
