.film ul{
	margin: 0;
	padding: 0;
}
.film{
	float: left;
    margin: -5px 0 0;
    padding: 0 0 20px 0;
    width: 600px;
}
.film .banner{
	width:600px;
}
.film .banner img{
	vertical-align:top;
}
.film .banner a img {
	vertical-align: top;
}
.film .banner .description {
    background: url("../images/dot-black.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 265px;
    line-height: 17px;
    margin-left: 450px;
    margin-top: -285px;
    padding: 10px;
    position: absolute;
    width: 130px;
}
.film .banner .description.v2 {
    width: 220px;
	margin-left: 360px;
	height: 266px;
	margin-top: -286px;
}
.film .banner .description.v3 {
    width: 220px;
	margin-left: 360px;
	height: 270px;
	margin-top: -300px;
	padding-top: 20px;
}
.film .banner .description.v3 table .color {
    color: #ffa12e;
}
.film .banner .description.v3 p.inf {
    margin: 1em 0;
}
.film .banner .description p.name{
	color:#ea9d31;
	margin-bottom:10px;
	text-transform:uppercase;
}
.film .banner .description.v2 p.name{
	margin-bottom: 0;
}
.film .banner .description p.info{
	font-size:11px;
	margin-bottom:2px;
}
.film .banner .description .info2 {
	margin-top: 22px;
}
.film .banner .description p.intro{
	font-size:11px;
	color:#fff;
	line-height:14px;
	margin-bottom:10px;
	margin-top:10px;
}
.film .banner .description .play{
	background:url('../images/play-but.png') no-repeat scroll;
	width:35px;
	height:25px;
}
.film .banner .description .play:hover{
	background:url('../images/play-but.png') 0 -25px no-repeat scroll;
}
.play1_l {
	background: url('../images/play.png') left top no-repeat;
	width: 5px;
	height: 25px;
	float: left;
}
.play1 {
	margin-top: 10px;
	float: left;
}
.play1 .play1_c {
	background: url('../images/play.png') 0 -25px repeat-x;
	height: 25px;
	float: left;
	color: #1a94d3;
	line-height: 25px;
	padding: 0 8px;
}
.play1 .play1_r {
	background: url('../images/play.png') 0 -50px no-repeat;
	width: 5px;
	height: 25px;
	float: left;
}
.film .banner .description .star{
	background:url('../images/star.png') top left no-repeat scroll;
	width:45px;
	height:8px;
	margin-bottom:5px;
}

.film .top1 {
	height: 60px;
	background: #ffffff;
}
.film .top1 .name-date {
	float: left;
	margin: 10px 0 0 20px;
}
.film .top1 .name-date .name {
	color: #ffa12e;
	font-size: 20px;
	text-transform: uppercase;
	line-height: normal;
}
.film .top1 .name-date .date {
	color: #707070;
	font-size: 11px;
}
.film .top1 .play1 {
	float: right;
	margin-right: 10px;
}
.film .top1 .star-big {
	float: right;
	margin-right: 10px;
	margin-top: 16px;
}
.film .bot {
	background: #ffffff;
	padding: 10px 20px 10px 20px;
}

.film .slide{
	width:600px;
	border-right:1px solid #000;
	margin-top:1px;
}
.film .slide .thum{
	width:147px;
	height:56px;
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #000;
	padding:1px;
	float:left;
	display:block;
	position:relative;
}
.film .slide .thum p{
	display: none;
}
.film .slide .thum td{
	cursor: pointer;
}
.film .slide .thum img{
	position:absolute;
}
.film .slide .thum .mask{
	position:absolute;
	color:#FFF;
	text-transform:uppercase;
	background:url('../images/mask-music-slide.png') no-repeat scroll;
}
.film .slide a:hover .thum .mask{
	display:none;
}
.film .tab{
	margin-top:20px;
}
.film .tab .top{
	margin-bottom:-1px;
}
.film .tab .left{
	background:url('../images/left-tab-film.gif') no-repeat scroll;
	width:5px;
	height:28px;
	float:left;
}
.film .tab .right{
	background:url('../images/right-tab-film.gif') no-repeat scroll;
	width:5px;
	height:28px;
	float:left;
}
.film .tab .mid{
	background:url('../images/line-tab-film.gif') repeat-x scroll;
	padding:7px 10px 0 10px;
	height:21px;
	float:left;
	text-transform:uppercase;
	color:#1a94d3;
}
.film .tab .top-box{
	background:url('../images/top-box-film.png') no-repeat scroll;
	width:600px;
	height:5px;
}
.film .tab .mid-box{
	background:url('../images/line-box-film.png') repeat-y scroll;
	width:585px;
	padding:15px 0 0 15px;
}
.film .tab .bot-box{
	background:url('../images/bot-box-film.png') no-repeat scroll;
	width:600px;
	height:5px;
}
.film .tab .item-film{
	width:132px;
	float:left;
	margin:0 5px 10px 5px;
}
.film .tab .item-film .thum{
	height:107px;
	display:block;
	position:relative;
	margin-bottom:2px;
}
.film .tab .item-film .thum img{
	position:absolute;
}
.film .tab .item-film .thum .mask{
	position:absolute;
	color:#FFF;
	background:url('../images/mask-thum-film.png') no-repeat scroll;
	width:132px;
	height:28px;
	top:79px;
	overflow:hidden;
}
.film .tab .item-film a:hover .thum .mask{
	display:none;
}
.film .tab .item-film a.showtime{
	font-size:11px;
	text-decoration:none;
	color:#1a94d3;
}
.film .tab .item-film a.showtime:hover{
	text-decoration:underline;
}
.star-big{
	background:url('../images/star-big.png') top left no-repeat scroll;
	width:93px;
	height:17px;
	margin-bottom:5px;
}
.film-theater .date{
	margin-top: -30px;
	position: absolute;
	margin-left: 235px;
	*margin-left: -716px;
}
.film-theater a.datepicker{
	width:46px;
	height:47px;
	border:2px solid #086d95;
	background-color:#3487a8;
	float:right;
	margin-left:2px;
	color:#fff;
	text-align:center;
	font-size:20px;
	padding-top:2px;
}
.film-theater a.datepicker p{
	font-size:11px;
	margin-bottom:4px;
	padding-bottom:2px;
	border-bottom:2px solid #086d95;
}
.film-theater a.datepicker:hover, .film-theater a.datepicker.active {
	border:2px solid #3487a8;
	background-color:#086d95;
}
.film-theater a.datepicker:hover p{
	border-bottom:2px solid #3487a8;
}
.film-theater a.datepicker:hover p, .film-theater a.datepicker.active p {
	border-bottom:2px solid #3487a8;
}
.hide_img{
	display: none;
}
.hide_info{
	display: none;
}
.film .mask td{
	margin: 0px 0 0;
	height: 33px;
	overflow: hidden;
	float: left
}